doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    title Visualization
    link(rel="stylesheet" type="text/css" href="/dist/css/styles.css")
    script(src="/node_modules/angular2/bundles/angular2-polyfills.js")
    script(src="/node_modules/systemjs/dist/system.src.js")
    script(src="/node_modules/rxjs/bundles/Rx.js")
    script(src="/node_modules/angular2/bundles/angular2.dev.js")
    script(src="/node_modules/angular2/bundles/http.dev.js")
  
  body()
    app-container
  script().
    System.config({
      packages: {
        dist: {
          format: 'register',
          defaultExtension: 'js'
        },
        'rxjs': {defaultExtension: 'js'}
      },
      map: {
        'rxjs' : '/node_modules/rxjs'
      }
    });
    System.import('/dist/boot').then(null, console.error.bind(console));
